body {
	margin: 0;
	padding: 0;
	font-family: Calibri, Arial, sans-serif;
	background-color: #fff;
}

h1 {
	white-space: nowrap;
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 1.5em;
}

ul {
	margin: 0px;
}

p {
	margin: 5px 0px 0px 5px;
}

a {
	text-decoration: none;
	color: #006DE2;
}

a:hover {
	color: #00356E;
}

#login-container, #changepassword-container, #createaccount-container {
	max-width: 300px;
	margin: auto;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	/* Optional: for slight shadow effect */
	text-align: center;
}

.form-group {
	margin-bottom: 15px;
	text-align: left;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
}

.icons {
	display: flex;
	gap: 10px;
}

.icon {
	width: 16px;
	height: 16px;
	color: #007bff;
}

h1 .icon {
	width: 20px;
	height: 20px;
}

.icon:hover {
	color: #0056b3;
}

.icon.active {
	color: #b31600;
}

.icon.active:hover {
	color: #801000;
}

.form-group input[type="text"], .form-group input[type="password"] {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	/* Ensures the input doesn't exceed its container */
}

.password-container {
	position: relative;
}

.password-container input[type="password"], .password-container input[type="text"]
	{
	padding-right: 30px;
}

.toggle-password {
	position: absolute;
	color: #007bff;
	right: 10px;
	top: 30px;
	cursor: pointer;
	height: 20px;
	width: 20px;
}

.toggle-password:hover {
	color: #0056b3;
}

.login-button, .change-password-button, .modal-button {
	background-color: #007bff; /* Button color */
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}

.login-button {
	width: 100%;
}

.change-password-button, .modal-button {
	min-width: 130px;
}

.login-button:hover, .change-password-button:hover {
	background-color: #0056b3; /* Darker shade for hover effect */
}

.errormessage {
	color: red;
}

#changepassword-container .errormessage, #login-container .errormessage, #createaccount-container .errormessage
	{
	margin-bottom: 10px;
}

#header {
	margin-top: 10px;
}

#footer {
	margin-bottom: 10px;
	margin-top: auto;
	padding-top: 10px;
}

#header a {
	margin-left: 20px;
}

.container {
	width: 100%;
	overflow: auto;
	padding-top: 5px;
}

.right {
	float: right;
}

.left {
	float: left;
}

#messages {
	flex-grow: 1; /* Allows this area to grow and shrink dynamically */
	overflow-y: auto; /* Enable scrolling for overflow */
	padding: 10px;
	background-color: #f9f9f9; /* Light grey background */
}

.message {
	position: relative;
	max-width: 80%;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

#icon-retry, #icon-reprepare {
  position: absolute;
  bottom: 10px;  /* Adjust as needed */
  right: 10px;   /* Adjust as needed */
}

.own-message {
	background-color: #ffecec;
	margin-left: auto;
	text-align: right;
}

.other-message {
	background-color: #fff;
	text-align: left;
}

#waiting-for-response {
	background-color: #fff;
	text-align: left;
	color: #383;
}

.text {
	margin: 0;
	padding: 0;
	text-align: left;
}

.time {
	display: block;
	font-size: 0.8em;
	margin-top: 5px;
	color: #666;
}

.message-form {
	display: flex;
	padding: 10px 10px 0px 10px;
	background-color: #f9f9f9; /* Light grey background */
}

.message-textarea {
	width: 100%;
	padding: 10px;
	border-radius: 15px;
	border: 1px solid #ccc;
	resize: vertical; /* Allow vertical resizing */
	box-sizing: border-box;
	height: 100px;
	min-height: 50px; /* Set a larger default height */
	max-height: 400px; /* Increased max height */
	overflow-y: auto; /* Add scroll bar when text exceeds the area */
}

.message-textarea-container {
	flex-grow: 1;
	margin-right: 10px;
	position: relative;
}

.send-button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 15px;
	cursor: pointer;
}

.send-button:hover {
	background-color: #0056b3; 
}

#contacts-container, #conversations-container, #chat-container {
	display: flex;
	flex-direction: column;
	height: 100vh; /* Full viewport height */
	max-width: 800px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#contact-list, #conversation-list {
	list-style: none;
	padding: 0;
}

.contact-item, .conversation-item {
	padding: 10px;
	border-bottom: 1px solid #eee; /* Light line between contacts */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.conversation-item.hidden {
	display: none;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 600px; /* Fixed width of 600px */
	position: absolute; /* Use absolute positioning */
	top: 50%;
	left: 50%;
	border-radius: 20px;
	transform: translate(-50%, -50%); /* Correct transform for centering */
}

#modalEditSubject {
	margin-top: 10px;
	margin-bottom: 10px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
/* Adjust the form when the keyboard is visible on mobile devices */
@media ( max-width : 600px) {
	.message-form {
		position: static;
	}
}